### Bitrix ###
/bitrix/*
/upload/
!/bitrix/components
/bitrix/components/bitrix
!/bitrix/gadgets
/bitrix/gadgets/bitrix
# /bitrix/js/*
# !/bitrix/js/exaple_js
# /bitrix/modules/*
# !/bitrix/modules/example_module
!/bitrix/php_interface/
/bitrix/php_interface/dbconn.php
!/bitrix/templates

### PhpStorm ###
.idea/
# .idea/**/workspace.xml
# .idea/**/tasks.xml
# .idea/**/usage.statistics.xml
# .idea/**/dictionaries
# .idea/**/shelf

### VSCode ###
.vscode/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json
# !.vscode/*.code-snippets

### Libs ###
node_modules/
jspm_packages/
bower_components/
vendor/

### Sass ###
.sass-cache/
*.css.map
*.sass.map
*.scss.map

### Backup ###
*.bak
*.gho
*.ori
*.orig
*.tmp

### macOS ###
.DS_Store
__MACOSX

### Windows ###
Thumbs.db

### Video ###
*.3g2
*.3gp
*.asf
*.asx
*.avi
*.flv
*.mkv
*.mov
*.mp4
*.mpg
*.ogv
*.rm
*.swf
*.vob
*.wmv
*.webm

### Other ###
/cgi-bin/
/awstats/
/webstat/
test.php
*_loc
*.loc
*.zip
*.gzip
*.gz
*.tgz
*.tar
*.gz.[0-9]
*.sql
*.log
*.mp3
*.exe
*.db
*.csv
*.xml
*.psd
*.[oa]
*~
