//
// Dark mode
//

// Links
$link-color: $green-100;

// Buttons
$btn-primary-color: $green-200;



$body-heading-color: $grey-lt-000;
$body-background-color: $grey-dk-300;
$body-text-color: $grey-lt-100;

$sidebar-color: $grey-dk-300;
$feedback-color: lighten($sidebar-color, 10%);

$border-color: $grey-dk-200;

$search-background-color: $grey-dk-250;
$search-result-preview-color: $grey-lt-000;

$table-background-color: $grey-dk-250;

$nav-child-link-color: $grey-dk-000;
$base-button-color: $grey-dk-250;

$code-background-color: $grey-dk-200;
